In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

# Load the CSV into a DataFrame
df = pd.read_csv('E:\\tds proj\\users.csv')

# Convert TRUE/FALSE to 'true'/'false' strings in the 'hireable' column
df['hireable'] = df['hireable'].replace({True: 'true', False: 'false'})

# Save the modified DataFrame to a new CSV file
df.to_csv('E:\\tds proj\\users.csv', index=False)

Q1)Who are the top 5 users in Dublin with the highest number

In [2]:
users = pd.read_csv('users.csv')
users.head()

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,orta,Orta Therox,NaN,Huddersfield / NYC / Dublin / Rio de Janeiro,git@orta.io,NaN,Tech on @puzzmo-com \r\n\r\nEx-TypeScript. Con...,952,6017,109,2009-01-24T20:40:31Z
1,jeromeetienne,Jerome Etienne,MAKING WEBAR A REALITY,"Dublin, Ireland",jerome.etienne@gmail.com,True,Making WebAR a reality - Around Javascript and...,301,2781,15,2010-04-26T11:58:29Z
2,jonataslaw,Jonny Borges,IRIS,"Dublin, Ireland",NaN,True,VP of Engineering from Iris Finance.\r\nDevelo...,272,2692,17,2018-01-23T19:17:15Z
3,steventroughtonsmith,Steven Troughton-Smith,HIGH CAFFEINE CONTENT,"Dublin, Ireland",NaN,NaN,NaN,98,1984,4,2009-01-08T23:51:31Z
4,axic,Alex Beregszaszi,ETHEREUM @IPSILON @SPEARBIT @ETHEREUMJS,"Dublin, Ireland",NaN,True,Works on decentralised stuff.\r\n\r\neipnft:ax...,143,1807,5,2008-08-11T23:38:10Z

In [3]:
users['hireable'] = users['hireable'].fillna(False).astype(bool)

In [4]:
top5 = users.sort_values(by='followers', ascending=False).head()
print(','.join(top5['login'].tolist()))

orta,jeromeetienne,jonataslaw,steventroughtonsmith,axic

Q2)Who are the 5 earliest registered GitHub users in Dublin?

In [5]:
users['created_at'] = pd.to_datetime(users['created_at'])
top_earliest = users.sort_values(by='created_at').head()
print(','.join(top_earliest['login'].tolist()))

paulca,adrian,GavinJoyce,amir,ciaranlee

Q3. What are the 3 most popular license among these users? Ignore missing licenses. List the license_name in order, comma-separated.

In [6]:
repos = pd.read_csv('repositories.csv')
repos.head()

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,orta,orta/11ty-twoslash-test,2020-08-23T10:48:14Z,1,1,HTML,True,True,NaN
1,orta,orta/31465,2020-03-24T21:00:15Z,2,2,TypeScript,True,True,NaN
2,orta,orta/31859,2020-07-14T19:02:11Z,0,0,TypeScript,True,True,NaN
3,orta,orta/a,2018-01-30T15:41:33Z,1,1,TypeScript,True,True,mit
4,orta,orta/ABetterPlaceForTweetbot,2021-12-13T05:37:20Z,0,0,NaN,True,True,mit

In [7]:
repos['license_name'].value_counts().head(3)

mit           5780
apache-2.0    2058
other         1632
Name: license_name, dtype: int64

Q4. Which company do the majority of these developers work at?

In [8]:
users['company'].value_counts().head(1)

AWS    18
Name: company, dtype: int64

Q5. Which programming language is most popular among these users?

In [9]:
repos['language'].value_counts().head(1)

JavaScript    3519
Name: language, dtype: int64

Q6. Which programming language is the second most popular among users who joined after 2020?

In [10]:
users_after_2020 = users[users['created_at'] > '2020-01-01']
users_after_2020.head()

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
27,hmikihth,Miklos Horvath,DRAKEN.EE,Dublin,NaN,False,"Software developer (Python/Django, Linux), Dig...",234,424,755,2021-02-27 13:14:40+00:00
51,The-AI-Summer,AI Summer,NaN,"Dublin, Paris and Athens",sergios@theaisummer.com,False,Learn Deep Learning and Artificial Intelligenc...,16,293,0,2020-04-11 17:55:10+00:00
88,NayeonKeum,Nayeon Ryann Keum,AWS,Dublin,rmaskdus0208@gmail.com,False,NaN,60,188,291,2020-07-30 05:58:00+00:00
117,SaM-92,Saeed Misaghian (SaM),INDEPENDENT,"Dublin, Ireland",NaN,False,Senior Product Developer in Digital Twins & AI...,24,152,17,2021-02-04 13:12:34+00:00
162,victor-cody,Victor Ikechukwu,DORSET COLLEGE,"Dublin, Ireland",vickyikechukwu13@gmail.com,True,SWE | Writes code üë®üèΩ‚Äçüíª and Technical docs ‚úçüèΩ |...,90,121,83,2020-08-15 01:26:14+00:00

In [11]:
repos_2020 = repos[repos['login'].isin(users_after_2020['login'].tolist())]
repos_2020['language'].value_counts().head()

Python              79
TypeScript          52
JavaScript          52
Java                49
Jupyter Notebook    43
Name: language, dtype: int64

Q7. Which language has the highest average number of stars per repository?

In [12]:
avg_stars = repos.groupby('language')['stargazers_count'].mean()
top_lang = avg_stars.idxmax()
top_stars = avg_stars.max()
print(top_lang, top_stars)

MDX 4347.333333333333

Q8. Let's define leader_strength as followers / (1 + following). Who are the top 5 in terms of leader_strength? List their login in order, comma-separated.

In [13]:
users['leader_strength'] = users['followers'] / (1 + users['following'])
top5_lead = users.sort_values(by='leader_strength', ascending=False).head()
print(','.join(top5_lead['login'].tolist()))

flaviohenriquealmeida,zalando,AnikSarker,wix,CardinalHealth

Q9. What is the correlation between the number of followers and the number of public repositories among users in Basel?

In [14]:
correlation = users['followers'].corr(users['public_repos'])
correlation

0.5548390015133586

Q10. Does creating more repos help users get more followers? Using regression, estimate how many additional followers a user gets per additional public repository.

In [15]:
import csv
followers = []
public_repos = []
with open('users.csv', 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)
    for row in reader:
        followers_count = int(row['followers'])
        public_repos_count = int(row['public_repos'])
        followers.append(followers_count)
        public_repos.append(public_repos_count)
if len(followers) > 1 and len(public_repos) > 1:
    slope, intercept = np.polyfit(public_repos, followers, 1)
    
    print(f"{slope:.3f}")
else:
    print("Error")

2.825

Q11. Do people typically enable projects and wikis together? What is the correlation between a repo having projects enabled and having wiki enabled?

In [16]:
if repos['has_projects'].dtype == 'object':
    repos['has_projects'] = repos['has_projects'].map({'true': True, 'false': False})
if repos['has_wiki'].dtype == 'object':
    repos['has_wiki'] = repos['has_wiki'].map({'true': True, 'false': False})
    
correlation = repos['has_projects'].corr(repos['has_wiki'])
    
print(round(correlation, 3))

0.334

Q12. Do hireable users follow more people than those who are not hireable?

In [17]:
 hireable_avg_following = users[users['hireable'] == True]['following'].mean()
non_hireable_avg_following = users[users['hireable'] == False]['following'].mean()
difference = hireable_avg_following - non_hireable_avg_following
difference

47.31827155894953

Q13. Some developers write long bios. Does that help them get more followers? What's the correlation of the length of their bio (in Unicode characters) with followers? (Ignore people without bios)

In [19]:
pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
Note: you may need to restart the kernel to use updated packages.

    ERROR: Command errored out with exit status 1:
     command: 'c:\Users\91965\Desktop\pynewsetup\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\91965\\AppData\\Local\\Temp\\pip-install-rf8g7zo8\\sklearn\\setup.py'"'"'; __file__='"'"'C:\\Users\\91965\\AppData\\Local\\Temp\\pip-install-rf8g7zo8\\sklearn\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base 'C:\Users\91965\AppData\Local\Temp\pip-pip-egg-info-cutsvj7z'
         cwd: C:\Users\91965\AppData\Local\Temp\pip-install-rf8g7zo8\sklearn\
    Complete output (15 lines):
    The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
    rather than 'sklearn' for pip commands.

    Here is how to fix this error in the main use cases:
    - use 'pip install scikit-learn' rather than 'pip install sklearn'
    - replace 'sklearn' by 'scikit-learn' in your pip requirements files
      (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
    - if the 'sklearn' package is used by one of your dependencies,
      it would be great if you take some time to track which package uses
      'sklearn' instead of 'scikit-learn' and report it to their issue tracker
    - as a last resort, set the environment variable
      SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

    More information is available at
    https://github.com/scikit-learn/sklearn-pypi-package
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
WARNING: You are using pip version 20.2.3; however, version 24.3.1 is available.
You should consider upgrading via the 'c:\Users\91965\Desktop\pynewsetup\python.exe -m pip install --upgrade pip' command.

In [20]:
from sklearn.linear_model import LinearRegression
users_with_bio = users[(users['bio'].notna()) & (users['bio'] != '')].copy()
users_with_bio.loc[:, 'bio_len'] = users_with_bio['bio'].str.len()

X = users_with_bio['bio_len'].values.reshape(-1,1)
y = users_with_bio['followers']

lr2 = LinearRegression()
lr2.fit(X, y)
lr2.coef_[0]

ModuleNotFoundError: No module named 'sklearn'

Q14. Who created the most repositories on weekends (UTC)? List the top 5 users' login in order, comma-separated

In [21]:
import csv
from collections import Counter
from datetime import datetime

weekend_repo_counts = Counter()

with open('repositories.csv', 'r', encoding='utf-8') as file:
    reader = csv.DictReader(file)
    
    for row in reader:
        created_at = row.get('created_at', '')
        if created_at:
            created_date = datetime.fromisoformat(created_at[:-1])  
            
            if created_date.weekday() in [5, 6]:
                user_login = row['login']
                weekend_repo_counts[user_login] += 1  

top_users = weekend_repo_counts.most_common(5)

top_logins = [user[0] for user in top_users]

print(','.join(top_logins))

joshuacassidy,skilbjo,kracekumar,butlerx,lmammino

Q15. Do people who are hireable share their email addresses more often?

In [22]:
fraction_hierable = users[users['hireable'] == True]['email'].notna().mean()
fraction_non_hierable = users[users['hireable'] == False]['email'].notna().mean()
diff = fraction_hierable - fraction_non_hierable
diff

0.1095921028124418

Q16. Let's assume that the last word in a user's name is their surname (ignore missing names, trim and split by whitespace.) What's the most common surname? (If there's a tie, list them all, comma-separated, alphabetically)

In [23]:
new_users = users[users['name'].notna()].copy()
new_users['surname'] = new_users['name'].str.split().str[-1].str.strip()
surname_counts = new_users['surname'].value_counts()
max_count = surname_counts.max()
common_surnames = surname_counts[surname_counts == max_count].index.tolist()
common_surnames.sort()
print(','.join(common_surnames))

Chen,Kenny,O'Sullivan,Quinn